<!DOCTYPE html>
<html>
<head>
  <title>FotosApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav class="navbar navbar-default ">
    <div class="container-fluid">
      <div class="navbar-header">
          <%= link_to "FOTO", new_user_path, class:"navbar-brand"%>
      </div>

      <div class="navbar-right">
        <!-- <button type="button" class="btn btn-default navbar-btn btn-sm"> -->
          <% if current_user %>
            <%= link_to 'My Photos', photos_path, :class =>'btn btn-default btn-sm'%>
            <%= link_to 'Logout', session_path(session), method: :delete, :class =>'btn btn-default btn-sm'%>
          <%else%>
            <%= link_to "Please Login", new_session_path, :class =>'btn btn-default btn-sm'%>
          <%end%>
        <!-- </button> -->
      </div>
    </div>
  </nav>
</header>
<body>
  <div>
<% flash.each do |name, message| %>
     <div class="flash-message flash-message-<%= name %>">
    <%= message %>
   </div>
<% end %>

<%= yield %>
</div>
</html>
